html {
  scroll-behavior: smooth; /* 平滑滾動 */
}

body {
  width: 100%;
  background-color: #adaab6;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "NotoSansTC-Thin", "NotoSansTC-Light";
  letter-spacing: 0.3em;
  line-break: strict;
  padding-bottom: 60px;
}

img {
  display: block;
}

@font-face {
  font-family: Parisienne;
  src: url(font/TaipeiSansTCBeta-Bold.ttf);
}

@font-face {
  font-family: NotoSansTC-Thin;
  src: url(font/微軟正黑體-1.ttf);
}

@font-face {
  font-family: NotoSansTC-Light;
  src: url(font/微軟正黑體-1.ttf);
}

h2 {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 0px;
}

h3 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 0px;
}

h2.second {
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
  font-size: 20px;
  color: #5a3e65;
  padding-top: 10px;
}

p {
  padding: 10px 25px 50px;
  line-height: 36px;
  letter-spacing: 2px;
  font-size: 17px;
  color: #403b40;
}

.box {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 16px;
  border-radius: 10px;
  padding: 10px 0px;
  background: rgba(255, 255, 255, 0.1);
}

.peom {
  text-align: center;
  margin-top: 24px;
  border-bottom: 1px solid #8f8095;
  border-top: 1px solid #8f8095;
  margin: 18px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.peom p {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  line-height: 32px;
}

.animate {
  opacity: 0;
}

.animate.show {
  transform: translate(0px, 50px);
  animation: 1s ease show;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate(0px, 50px);
  }

  100% {
    opacity: 100;
    transform: translate(0px, 0px);
  }
}

#page3 h2.second {
  border-bottom: 1px solid #8f8095;
  border-top: 1px solid #8f8095;
  padding-bottom: 10px;
  margin: 0px 24px;
}

.list {
  text-align: center;
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list p {
  margin: 0px;
  padding: 0px;
  line-height: 32px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline rgba(143, 128, 149, 0.49);
}

.passage {
  margin-bottom: 50px;
}

.passage p {
  padding: 8px 25px;
}

h5:has(img){
  display:flex;
}

h5 img{
  height:16px;
  width:fit-content;
  margin-right:4px;
}

/*-------navigationbar-------*/

#navigationbar {
  width: 100%;
  background: #f3f3f3;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
}

#navigationbar .navbtn {
  font-family: "NotoSansTC-Light";
  margin: 0px;
  font-size: 4vw;
  color: #8f8095;
  letter-spacing: 0.2em;
  text-align: center;
  line-height: 60px;
}

#navigationbar a.active {
  background: #d6d2e1;
  height: 100%;
}

#navigationbar a.active .navbtn {
  border-bottom: 5px solid #8f8095;
  box-sizing: border-box;
  height: 100%;
}

#navigationbar a {
  flex-grow: 1;
}

#navigationbar .navbtn:hover {
  color: #8f8095;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/*----bg-----*/

#page2 img {
  width: 70%;
  margin: 0 auto;
}

#content1 img {
  width: 100%;
  height: 100%;
  position: relative;
  top: -40px;
  z-index: -1;
}
#bg img {
  width: 100%;
  position: fixed;
  bottom: 0px;
  z-index: -2;
}

#bg.active img {
  opacity: 0.3;
}

#bg.active {
  background: #ccd6d1;
}

#titleArea {
  height: 90vh;
  padding-top: 80px;
}

#titleArea h2 {
  text-align: center;
  color: rgb(108, 91, 114);
  font-weight: normal;
  margin: 100px 0px;
  font-size: 16px;
  margin: 0px;
}

#titleImg {
  width: 75%;
  margin: 0 auto;
  position: relative;
  top: 120px;
  left: 8%;
}

/*-------ar-------*/

.scroll-down {
  position: relative;
  left: calc(50% - 6px);
  bottom: 150px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  -webkit-animation: fade_move_down 1.5s ease-in-out infinite;
  -moz-animation: fade_move_down 1.5s ease-in-out infinite;
  animation: fade_move_down 1.5s ease-in-out infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translateY(-15px) rotate(45deg);
    opacity: 0;
  }

  50% {
    opacity: 100;
  }

  100% {
    transform: translateY(15px) rotate(45deg);
    opacity: 0;
  }
}

/* titleAnimation */

#titleImg path,
#titleImg rect,
#titleImg circle {
  opacity: 0;
  -webkit-animation: show 1.5s ease-in-out;
  -moz-animation: show 1.5s ease-in-out;
  animation: show 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

#titleImg #suWord {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#titleImg #iu {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
#titleImg #ci {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
#titleImg #sa {
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
}
#titleImg #io {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
#titleImg #cio2 {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}
#titleImg #cio1 {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

#titleImg #line1 {
  opacity: 0;
  -webkit-animation: stretch 1.5s ease-in-out;
  -moz-animation: stretch 1.5s ease-in-out;
  animation: stretch 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
@keyframes stretch {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: 149.766px;
    opacity: 1;
  }
}

#titleImg #line2 {
  opacity: 0;
  -webkit-animation: stretch2 1.5s ease-in-out;
  -moz-animation: stretch2 1.5s ease-in-out;
  animation: stretch2 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
@keyframes stretch2 {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: 229.606px;
    opacity: 1;
  }
}

#titleImg #line3 {
  opacity: 0;
  -webkit-animation: stretch3 1.5s ease-in-out;
  -moz-animation: stretch3 1.5s ease-in-out;
  animation: stretch3 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
@keyframes stretch3 {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: 39.7781px;
    opacity: 1;
  }
}

#titleImg #line4 {
  opacity: 0;
  -webkit-animation: stretch4 1.5s ease-in-out;
  -moz-animation: stretch4 1.5s ease-in-out;
  animation: stretch4 1.5s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 3s;
  -webkit-animation-delay: 3s;
}

@keyframes stretch4 {
  0% {
    height: 0px;
    opacity: 0;
  }

  100% {
    height: 39.7781px;
    opacity: 1;
  }
}

#titleImg #clLine,
#titleImg #saxLine {
  opacity: unset;
  -webkit-animation: draw 8s ease-in-out;
  -moz-animation: draw 8s ease-in-out;
  animation: draw 8s ease-in-out;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  stroke-dashoffset: 1114px;
  stroke-dasharray: 1114px;
}
#titleImg #saxLine {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1114px;
  }

  100% {
    stroke-dashoffset: 0px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

/*-------member-------*/

#page2 {
  padding-top: 150px;
}

#page2 p {
  margin-top: 5px;
}

#page2 h3 {
  color: #63756c;

  font-weight: bold;
}

#page3 {
  padding-top: 150px;
  padding-bottom: 50px;
}

#page3 h3 {
  padding-top: 50px;
  color: #5a3e65;
  font-weight: bold;
  text-align: left;
  padding-left: 25px;
  letter-spacing: 0.1em;
  font-size: 28px;
  margin-bottom: 16px;
  padding-right: 16px;
  line-height:36px;
}

#page3 h3.composer {
  padding-top: 0px;
  color: #785e82;
  font-weight: bold;
  text-align: left;
  padding-left: 25px;
  letter-spacing: 0.2em;
  font-size: 20px;
  margin-bottom: 32px;
  padding-right: 16px;
  margin-top: 8px;
}

#page1 p {
  padding-bottom: 0px;
}

h5 {
  padding-left: 25px;
  padding-right: 16px;
  font-weight: normal;
  letter-spacing: 0.2em;
  color: #333333;
  line-height: 24px;
  margin: 0px;
}

h4 {
  text-align: center;
  color: #8f8095;
  font-weight: normal;
  margin: 100px 0px;
}

#page4 {
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

#thankList {
  background-color: #785e82;
  color: #fff;
  text-align: left;
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
}

#title,
#nameList {
  padding: 0px;
  margin: 0px;
}

#title {
  width: fit-content;
  min-width: 75px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 15px;
  padding-right: 8px;
}

#nameList {
  flex-grow: 1;
  padding-left: 14px;
}

#SpthankList {
  font-size: 20px;
  padding-top: 100px;
}

#SpthankList p {
  padding: 0px;
}

.song h3{
  font-family:Parisienne;
}

#page2 p.box{
  padding:16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 24px 16px 72px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}